/* TODO: Add memory game styles */

.memory-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%; 
    gap: 20px;
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.top button{
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.memory-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid #333;
    padding: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.card {
    width: 60px;
    height: 60px;
    background-color: #333;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card.flipped {
    background-color: #666;
}

.card.matched {
    background-color: transparent;
    border: 1px solid green;
}
